<div id="question-show">
  <!-- <div class="title row">
    <h1 class="col-md-9"><span>5.NF.1</span> Add and Subtract Fractions with Unlike Denominators</h1>
  </div>

  <div class="row main">
    <div class="col-md-4 prerequisites">

      <h2>Prerequisistes</h2>
      <h4>Adding Fractions with Denominators between 10 and 100</h4>
      <h4>Equivalent Fractions</h4>
      <h4>Add Fractions with Like Denominators</h4>
      <h4>Compare Two Fractions with the same Numerator or Denominator</h4>
    </div>

    <div class="col-md-8 common-questions">
      <h2>Common Questions</h2>

      <div class="question row">
        <div class="col-md-1">
          <div class="row">
            <span class="col-md-12 glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <p class="upvote-count col-md-12">123</p>
          </div>
        </div>
        <div class="col-md-11">
          <h3>How can you teach students about equivalent fractions?</h3>
        </div>
      </div>

      <div class="question row">
        <div class="col-md-1">
          <div class="row">
            <span class="col-md-12 glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <p class="upvote-count col-md-12">86</p>
          </div>
        </div>
        <div class="col-md-11">
          <h3>Do students understand fractions with visual models?</h3>
        </div>
      </div>

      <div class="question row">
        <div class="col-md-1">
          <div class="row">
            <span class="col-md-12 glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <p class="upvote-count col-md-12">23</p>
          </div>
        </div>
        <div class="col-md-11">
          <a href="/topics/4/questions/7">
          <h3>How do you show students that fractions are the same as division?</h3>
          </a>
        </div>
      </div>

    </div>

  </div> -->
</div>