<div id="question-show">
  <div class="nav-bar">

  </div>

  <div class="title row">
    <h1 class="col-md-12"><span>5.NF.1</span> Add and Subtract Fractions with Unlike Denominators</h1>
  </div>

  <div class="row main">
    <div class="col-md-12 common-questions">

      <div class="answer row">
        <div class="col-md-1 upvote-wrapper">
          <div class="row">
            <span class="col-md-6 col-md-offset-1 glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <p class="upvote-count col-md-12">31</p>
          </div>
        </div>
        <div class="col-md-11">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae mollis arcu. Suspendisse convallis neque pellentesque luctus feugiat. Maecenas facilisis porta enim, sit amet commodo ex tristique vitae. Donec felis turpis, consequat non eros et, vehicula convallis nibh. Pellentesque vitae metus lorem. Suspendisse sed justo in diam cursus consequat at id libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce finibus erat odio, sed vestibulum tellus auctor ac. Maecenas sed lacus non nisi fringilla rutrum et sed lacus. Pellentesque rutrum ligula leo, ac molestie quam tempus non. Phasellus accumsan pellentesque nunc vitae porttitor.</h3>
        </div>
      </div>

      <div class="answer row">
        <div class="col-md-1 upvote-wrapper">
          <div class="row">
            <span class="col-md-6 col-md-offset-1 glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <p class="upvote-count col-md-12">12</p>
          </div>
        </div>
        <div class="col-md-11">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae mollis arcu. Suspendisse convallis neque pellentesque luctus feugiat. Maecenas facilisis porta enim, uat non eros et, vehicula convallis nibh.</h3>
        </div>
      </div>

      <div class="answer row">
        <div class="col-md-1 upvote-wrapper">
          <div class="row">
            <span class="col-md-6 col-md-offset-1 glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <p class="upvote-count col-md-12">5</p>
          </div>
        </div>
        <div class="col-md-11">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae mollis arcu. Suspendisse convallis nequ.</h3>
        </div>
      </div>

      <div class="answer row">
        <div class="col-md-1 upvote-wrapper">
          <div class="row">
            <span class="col-md-6 col-md-offset-1 glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <p class="upvote-count col-md-12">2</p>
          </div>
        </div>
        <div class="col-md-11">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae mollis arcu. Suspendisse convallis neque pellentesque luctus feugiat. Maecenas facilisis porta enim, sit amet commodo ex tristique vitae. Donec felis turpis, consequat non eros et, vehicula convallis nibh. Pellentesque vitae metus lorem. Suspendisse sed justo in diam cursus consequat at id libero. Interdum et malesuada fames ac ante ipsum primis in faucibu.</h3>
        </div>
      </div>

      <!-- <div class="answer row">
        <div class="col-md-1 upvote-wrapper">
          <div class="row">
            <span class="col-md-12 glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <p class="upvote-count col-md-12">8</p>
          </div>
        </div>
        <div class="col-md-11">
          <a href="#">
          <h3>Do students understand fractions with visual models?</h3>
          </a>
        </div>
      </div>

      <div class="answer row">
        <div class="col-md-1 upvote-wrapper">
          <div class="row">
            <span class="col-md-12 glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <p class="upvote-count col-md-12">5</p>
          </div>
        </div>
        <div class="col-md-11">
          <a href="#">
          <h3>How do you show students that fractions are the same as division?</h3>
          </a>
        </div>
      </div> -->

    </div>

  </div>
</div>