/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$orange: #ECA711;

.nav {
  padding: 25px 0px;
  // margin-top: 30px;
  // height: 120px;
  .logo {
    height: 90px;
    width: auto;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    // font-weight: bold;
  }
  border-bottom: solid 4px #C8C8C8;
}

.title {
  padding: 30px 40px;
  border-bottom: solid 4px #C8C8C8;
  span {
    color: $orange
  }
}

.main {
  margin-top: 30px;
}