// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
  .logo {
    width: 500px;
    margin: 0 auto;
    margin-top: 8%;
    img {
      width: 500px;
      height: auto;
    }
  }
  .search-wrapper {
    .search-prompt {
      margin-bottom: 20px;
    }
    form {
      input {
        line-height: 30px;
      }
    }
  }
}