// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
  .search-wrapper {
    margin-top: 15%;
    .search-prompt {
      margin-bottom: 20px;
      h1 {
        // text-align: center;
      }
    }
    form {
      input {
        line-height: 30px;
      }
    }
  }
}