// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topic-show {
  title {
    // margin-top: 30px;
    span {
      font-weight: bold;
    }
  }

  .main {
    padding-bottom: 30px;
    .prerequisites {
      // border-top: solid 1px black;
    padding: 0 40px;
      h2 {
        margin-bottom: 50px;
      }
      h4 {
        margin-bottom: 30px;
      }
    }
    .common-questions {
      padding: 0 40px;
      border-left: solid 3px #C8C8C8;

      // border-top: solid 1px black;
      h2 {
        margin-bottom: 50px;
      }
      .question {
        min-height: 30px;
        margin-bottom: 10px;
        .glyphicon {
          font-size: 30px;
        }
        .upvote-wrapper {
          cursor: pointer;
        }
        .upvote-count {
          margin-top: 5px;
          font-size: 16px;
          text-align: center;
        }
        h3 {
          margin-top: 0px;
        }

      }
    }
  }

}